@use 'reset';
@use 'base';
@use 'root';

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--clr-white);
    width: 20rem;
    color: var(--clr-grey);
    font-size: 0.9375rem;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);

    &__image {
        border-radius: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 26ch;
        gap: 1rem;
        padding-block: 1.5rem;
    }

    &__title {
        font-size: 1.375rem;
        font-weight: 700;
        color: var(--clr-dark-navy);
    }
}
